<mat-toolbar>
    <a routerLink="/" class="logo-button">
      BLOCKCHAIN 
    </a>
    <mat-icon aria-hidden="false" aria-label="link icon">link</mat-icon>
    <span class="toolbar-button-spacer"></span>
    <div class="button-row">
      <button mat-raised-button class="button-navigation" routerLink="/transactions">Create Transaction</button>
      <button mat-raised-button class="button-navigation" routerLink="/mining">Mine Transaction</button>
    </div>
  </mat-toolbar>
<p>transactions works!</p>
